body {
}

.mainContent {
    position:relative;
    left:5%;
    width:90%;
}

.tableHeader {
    font-weight:bold;
}

.tableInfoHeader {
    color:#255ce0;
}

.filterArea {
    width:25%
}

.inputArea {
    width:100%;
}